@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<!--
    Author: William Raymann.
    Class: Error.
    Purpose: To display an error message when an error occurs in the Cowboy Cafe website.
-->

<img src="/Images/BuckingBronco.png" alt="A Photo of a Bucking Bronco"/>

<h2>Whoops partner, you just got bucked off by an error!</h2>

