/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
 * Author: William Raymann.
 * Class: site.
 * Prupose: To style of the Cowboy Cafe website.
*/
/*
#menu-search-form {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;

}

#keyword-search {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#orderitem-type-search {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#calorie-search {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#price-search {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

#menu-search-submit {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}
*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
